/* design formatting css */
html, body {
     cursor: url(https://i.ibb.co/jDSbdQR/Cursor.png), auto !important;

   }


/* background colour */
body {
  background-color: #05081e;
}

/* Importing the Garamond-Bold font */
@font-face {
    font-family: "CormorantGaramond-Bold";
    font-weight: 100;
    src: url(CormorantGaramond-Bold.ttf) format("truetype");
}
p.customfont {
  font-family: "CormorantGaramond-Bold", merriweather;
}

/* Importing the Garamond-Regular font */
@font-face {
    font-family: "CormorantGaramond-Regular";
    font-weight: 100;
    src: url(CormorantGaramond-Regular.ttf) format("truetype");
}
p.customfont {
  font-family: "CormorantGaramond-Regular";
}


/* Setting body font (subtitle) */
 p {
  font: "CormorantGaramond-Regular";
  font-weight: 100;
  font-size: 15px;
  line-height: 7;
  position: fixed;
  top: 48%;
  left: 8%;
  color: white;
  transform: translate(-50%, -50%);
  text-align: right;

}

/* h1 text settings (main title) */
h1 {
font: "CormorantGaramond-Bold";
position: absolute;
top: 10%;
left: 50%;
transform: translate(-50%, -50%);
font-weight: 100;
font-size: 15px;
color: white;
text-align: center;
position: fixed;
line-height: 150%;
letter-spacing: 1px;

}

/* h2 text settings (2nd body) */
h2 {
font: "CormorantGaramond-Regular";
position: absolute;
font-weight: 100;
font-size: 14px;
line-height: 2;
position: fixed;
top: 10%;
left: 78%;
right: 5%;
color: white;
line-height: 150%;
text-align: right;


}

/* h3 text settings */
h3 {
font: "CormorantGaramond-Regular";
position: absolute;
font-weight: 100;
font-size: 14px;
line-height: 2;
position: fixed;
bottom: 7%;
left: 26%;
color: white;
line-height: 150%;

}

h4 {
font: "CormorantGaramond-Regular";
position: absolute;
font-weight: 100;
font-size: 14px;
line-height: 2;
position: fixed;
bottom: 13%;
left: 26%;
color: white;
line-height: 150%;

}

h5 {
font: "CormorantGaramond-Regular";
position: absolute;
font-weight: 100;
font-size: 14px;
line-height: 2;
position: fixed;
bottom: 6%;
left: 46%;
color: white;
line-height: 150%;
}

h6 {
font: "CormorantGaramond-Regular";
position: absolute;
font-weight: 100;
font-size: 14px;
line-height: 2;
position: fixed;
bottom: 11.5%;
left: 46%;
color: white;
line-height: 150%;
}



/* circle legend */
.circleBase {
    border-radius: 50%;

}

.type1 {
    width: 20px;
    height: 20px;
    background: #abd5c7;
    position: fixed;
    bottom: 15%;
    left: 44%;
    transform: translate(-50%, -50%);
}

.type2 {
    width: 20px;
    height: 20px;
    background: #864388;
    position: fixed;
    bottom: 8%;
    left: 44%;
    transform: translate(-50%, -50%);
}

.type3 {
    width: 20px;
    height: 20px;
    background: #a0d1f0;
    position: fixed;
    bottom: 15%;
    left: 24%;
    transform: translate(-50%, -50%);
}

.type4 {
    width: 20px;
    height: 20px;
    background: #ce5a5b;
    position: fixed;
    bottom: 8%;
    left: 24%;
    transform: translate(-50%, -50%);
}

.frown {
  font: "CormorantGaramond-Regular";
  position: fixed;
  font-weight: 100;
  font-size: 14px;
  line-height: 2;
  position: fixed;
  bottom: 8%;
  left: 69%;
  color: white;
  line-height: 150%;
  transform: translate(-50%, -50%);
  }

  .smile {
    font: "CormorantGaramond-Regular";
    position: fixed;
    font-weight: 100;
    font-size: 14px;
    line-height: 2;
    position: fixed;
    bottom: 15%;
    left: 68%;
    color: white;
    line-height: 150%;
    transform: translate(-50%, -50%);
    }

}

/* jan circle */
/* .circle1 {
    border:1px solid white;
    height:490px;
    border-radius:50%;
    width: 165px;
    position: fixed;
    top: 50%;
    left: 29%;
    transform: translate(-50%, -50%);

    } */


/* feb circle */
 /* .circle2 {
    border:1px solid white;
    height:330px;
    border-radius:50%;
    width: 115px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);


    } */

    /* mar circle */
  /* .circle3 {
        border:1px solid white;
        height:600px;
        border-radius:50%;
        width: 200px;
        position: fixed;
        top: 50%;
        left: 73%;
        transform: translate(-50%, -50%);

        } */





/* .clothes {background-color:#a0d1f0;}
.clothes:before {border-color:#a0d1f0;}

.games {background-color:#ce5a5b;}
.games:before {border-color:#ce5a5b}

.monthly {background-color:#abd5c7;}
.monthly:before {border-color:#abd5c7;}

.other {background-color:#864388;}
.other:before {border-color:#864388;} */
