/* design formatting css */

/* background colour */
body {
  background-color: #05081e;
}

/* Importing the Garamond-Bold font */
@font-face {
    font-family: "CormorantGaramond-Bold";
    font-weight: 100;
    src: url(CormorantGaramond-Bold.ttf) format("truetype");
}
p.customfont {
  font-family: "CormorantGaramond-Bold", merriweather;
}

/* Importing the Garamond-Regular font */
@font-face {
    font-family: "CormorantGaramond-Regular";
    font-weight: 100;
    src: url(CormorantGaramond-Regular.ttf) format("truetype");
}
p.customfont {
  font-family: "CormorantGaramond-Regular";
}


/* Setting body font (subtitle) */
 p {
  font-family: "EBGaramond-Regular";
  font-weight: 100;
  font-size: 20px;
  line-height: 2;
  position: absolute;
  top: 48%;
  right: 10%;
  color: white;

}

/* h1 text settings (main title) */
h1 {
font-family: "EBGaramond-Bold";
position: absolute;
top: 40%;
right: 10%;
font-weight: 100;
font-size: 40px;
color: white;

}

/* h2 text settings (2nd body) */
h2 {
font-family: "EBGaramond-Regular";
position: absolute;
font-weight: 100;
font-size: 20px;
line-height: 2;
position: absolute;
top: 150%;
left: 10%;
right: 45%;
color: white;
line-height: 150%;
text-align: justify;

}

/* h3 text settings */
h3 {
font-family: "EBGaramond-Regular";
position: absolute;
font-weight: 100;
font-size: 20px;
line-height: 2;
position: absolute;
top: 270%;
right: 50%;
color: white;
line-height: 150%;

}

/* jan line */
.line1 {
  border-left: 1px solid white;
  height: 490px;
  position: fixed;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);

}

/* feb line */
.line2 {
  border-left: 1px solid white;
  height: 310px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

  /* mar line */
  .line3 {
    border-left: 1px solid white;
    height: 685px;
    position: fixed;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);

}


/* circle legend */
.circle1{
 color: white;
  height:490px;
  border-radius:50%;
  width: 165px;
  position: fixed;
  top: 50%;
  left: 29%;
  transform: translate(-50%, -50%);
}

/* jan circle */
/* .circle1 {
    border:1px solid white;
    height:490px;
    border-radius:50%;
    width: 165px;
    position: fixed;
    top: 50%;
    left: 29%;
    transform: translate(-50%, -50%);

    } */


/* feb circle */
 /* .circle2 {
    border:1px solid white;
    height:330px;
    border-radius:50%;
    width: 115px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);


    } */

    /* mar circle */
  /* .circle3 {
        border:1px solid white;
        height:600px;
        border-radius:50%;
        width: 200px;
        position: fixed;
        top: 50%;
        left: 73%;
        transform: translate(-50%, -50%);

        } */





/* .clothes {background-color:#a0d1f0;}
.clothes:before {border-color:#a0d1f0;}

.games {background-color:#ce5a5b;}
.games:before {border-color:#ce5a5b}

.monthly {background-color:#abd5c7;}
.monthly:before {border-color:#abd5c7;}

.other {background-color:#864388;}
.other:before {border-color:#864388;} */
